<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="playlist-processor"/>

    <dubbo:reference check="false" id="playlistInfoSearchService" interface="com.sohu.tv.elasticsearch.service.PlaylistInfoSearchService"/>
    <dubbo:reference id="accountService" interface="com.sohu.spaces.user.service.AccountService" protocol="dubbo" check="false"/>


    <!-- zookeeper注册中心 -->
    <dubbo:registry address="${zookeeper.servers.ugc}" timeout="60000"/>

</beans>